
## <summary>policy for amazon_ssm_agent</summary>

########################################
## <summary>
##	Execute amazon_ssm_agent_exec_t in the amazon_ssm_agent domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`amazon_ssm_agent_domtrans',`
	gen_require(`
		type amazon_ssm_agent_t, amazon_ssm_agent_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, amazon_ssm_agent_exec_t, amazon_ssm_agent_t)
')

######################################
## <summary>
##	Execute amazon_ssm_agent in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_ssm_agent_exec',`
	gen_require(`
		type amazon_ssm_agent_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, amazon_ssm_agent_exec_t)
')
########################################
## <summary>
##	Read amazon_ssm_agent's log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`amazon_ssm_agent_read_log',`
	gen_require(`
		type amazon_ssm_agent_log_t;
	')

	logging_search_logs($1)
	read_files_pattern($1, amazon_ssm_agent_log_t, amazon_ssm_agent_log_t)
')

########################################
## <summary>
##	Append to amazon_ssm_agent log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_ssm_agent_append_log',`
	gen_require(`
		type amazon_ssm_agent_log_t;
	')

	logging_search_logs($1)
	append_files_pattern($1, amazon_ssm_agent_log_t, amazon_ssm_agent_log_t)
')

########################################
## <summary>
##	Manage amazon_ssm_agent log files
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_ssm_agent_manage_log',`
	gen_require(`
		type amazon_ssm_agent_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, amazon_ssm_agent_log_t, amazon_ssm_agent_log_t)
	manage_files_pattern($1, amazon_ssm_agent_log_t, amazon_ssm_agent_log_t)
	manage_lnk_files_pattern($1, amazon_ssm_agent_log_t, amazon_ssm_agent_log_t)
')

########################################
## <summary>
##	Search amazon_ssm_agent lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_ssm_agent_search_lib',`
	gen_require(`
		type amazon_ssm_agent_var_lib_t;
	')

	allow $1 amazon_ssm_agent_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read amazon_ssm_agent lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_ssm_agent_read_lib_files',`
	gen_require(`
		type amazon_ssm_agent_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, amazon_ssm_agent_var_lib_t, amazon_ssm_agent_var_lib_t)
')

########################################
## <summary>
##	Manage amazon_ssm_agent lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_ssm_agent_manage_lib_files',`
	gen_require(`
		type amazon_ssm_agent_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, amazon_ssm_agent_var_lib_t, amazon_ssm_agent_var_lib_t)
')

########################################
## <summary>
##	Manage amazon_ssm_agent lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`amazon_ssm_agent_manage_lib_dirs',`
	gen_require(`
		type amazon_ssm_agent_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, amazon_ssm_agent_var_lib_t, amazon_ssm_agent_var_lib_t)
')

########################################
## <summary>
##	Execute amazon_ssm_agent server in the amazon_ssm_agent domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`amazon_ssm_agent_systemctl',`
	gen_require(`
		type amazon_ssm_agent_t;
		type amazon_ssm_agent_unit_file_t;
	')

	systemd_exec_systemctl($1)
        systemd_read_fifo_file_passwd_run($1)
	allow $1 amazon_ssm_agent_unit_file_t:file read_file_perms;
	allow $1 amazon_ssm_agent_unit_file_t:service manage_service_perms;

	ps_process_pattern($1, amazon_ssm_agent_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an amazon_ssm_agent environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`amazon_ssm_agent_admin',`
	gen_require(`
		type amazon_ssm_agent_t;
		type amazon_ssm_agent_log_t;
		type amazon_ssm_agent_var_lib_t;
	type amazon_ssm_agent_unit_file_t;
	')

	allow $1 amazon_ssm_agent_t:process { signal_perms };
	ps_process_pattern($1, amazon_ssm_agent_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 amazon_ssm_agent_t:process ptrace;
    ')

	logging_search_logs($1)
	admin_pattern($1, amazon_ssm_agent_log_t)

	files_search_var_lib($1)
	admin_pattern($1, amazon_ssm_agent_var_lib_t)

	amazon_ssm_agent_systemctl($1)
	admin_pattern($1, amazon_ssm_agent_unit_file_t)
	allow $1 amazon_ssm_agent_unit_file_t:service all_service_perms;
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
